<div class="syllabus">
    <h2 id="schedule">Schedule</h2>

<table class="table table-striped">
    <tr>
        <th>Week</th>
        <th>Readings</th>
        <th>Pages</th>
        <th>Curriculum / Other</th>
    </tr>
    <tr>
        <td><a href="https://carpentries.github.io/trainer-training/01-week1_discussion_questions/index.html">1</td>
        <td>Foreword, About the Authors, Introduction</td>
        <td>xiii-xvi, xix-9; 10-39</td>
        <td> <a href="https://docs.carpentries.org/topic_folders/instructor_training/duties_agreement.html">Trainer Agreement</a>, <a href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html">Code of Conduct</a>, <a href="https://docs.carpentries.org/topic_folders/instructor_training/trainers_guide.html">Trainers Guide</a> (skim), <a href="http://carpentries.github.io/instructor-training/">Instructor Training Curriculum</a> (preview), <a href="https://github.com/carpentries/instructor-training">Instructor Training Curriculum Repository</a> (preview) 
</td>
    </tr>
    <tr>
        <td><a href="https://carpentries.github.io/trainer-training/02_week2_discussion_questions/index.html">2</td>
        <td>Chapter 1, Chapter 2, Appendix A, Appendix  B, Chapter 3</td>
        <td>40-65; 225-230; 66-90</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://carpentries.github.io/trainer-training/03_week3_discussion_questions/index.html">3</td>
        <td>Chapter 4, Appendix D, Chapter 5</td>
        <td>91-120, 244-7, 121-152</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="https://carpentries.github.io/trainer-training/04-week_4_discussion_questions/index.html">4</td>
        <td>Chapter 6, Chapter 7</td>
        <td>152-187, 188-216</td>
        <td><a href="https://web.hypothes.is/">Explore Hypothes.is as a commenting tool</td>
    </tr>
    <tr>
        <td><a href="https://carpentries.github.io/trainer-training/05-week_5_discussion_questions/index.html">5</td>
        <td></td>
        <td></td>
        <td><a href="https://carpentries.github.io/instructor-training/01-welcome/index.html">Welcome</a>, <a href="https://carpentries.github.io/instructor-training/02-practice-learning/index.html">Building Skill With Practice</a>, <a href="https://carpentries.github.io/instructor-training/03-expertise/index.html">Expertise and Instruction</a>, <a href="https://carpentries.github.io/instructor-training/guide/index.html">Instructor Notes</a>, <a href="http://pad.software-carpentry.org/ttt-template">Etherpad Template</a></td>
    </tr>
        <tr>
        <td><a href="https://carpentries.github.io/trainer-training/06-Week_6_discussion_questions/index.html">6</td>
        <td></td>
        <td></td>
        <td><a href="https://carpentries.github.io/instructor-training/05-memory/index.html">Memory and Cognitive Load</a>, <a href="https://carpentries.github.io/instructor-training/06-feedback/index.html">Building Skill With Feedback</a>, <a href="https://carpentries.github.io/instructor-training/08-motivation/index.html">Motivation and Demotivation</a>, <a href="https://carpentries.github.io/instructor-training/09-mindset/index.html">Mindset</a></td> 
    </tr>
        <tr>
        <td><a href="https://carpentries.github.io/trainer-training/07-Week_7_discussion_questions/index.html">7</td>
        <td></td>
        <td></td>
        <td><a href="https://carpentries.github.io/instructor-training/11-practice-teaching/index.html">Teaching is a Skill</a>, <a href="https://carpentries.github.io/instructor-training/12-homework/index.html">Wrap-Up and Homework</a>, <a href="https://carpentries.github.io/instructor-training/14-live/index.html">Live Coding is a Skill</a>, <a href="https://carpentries.github.io/instructor-training/15-lesson-study/index.html">Preparing to Teach</a>, <a href="https://carpentries.github.io/instructor-training/17-performance/index.html">More Practice Live Coding</a>, <a href="https://carpentries.github.io/instructor-training/18-management/index.html">Managing a Diverse Classroom</a>, <a href="https://carpentries.github.io/instructor-training/23-introductions/index.html">The Carpentries: Workshop Introductions</a></td>
    </tr>
        <tr>
        <td><a href="https://carpentries.github.io/trainer-training/08-Week_8_discussion_questions/index.html">8</td>
        <td>Conclusion</td>
        <td>217-224</td>
        <td><a href="https://carpentries.github.io/instructor-training/20-checkout/index.html">Checkout Process</a>, <a href="https://carpentries.github.io/instructor-training/21-carpentries/index.html">The Carpentries: How We Operate</a>, <a href="https://carpentries.github.io/instructor-training/24-practices/index.html">Putting it Together</a>, <a href="https://carpentries.github.io/instructor-training/25-wrap-up/index.html">Wrapping Up</a>, <a href="https://software-carpentry.org/workshops/operations/index.html">Operations Guide</a>, <a href="https://carpentries.github.io/instructor-training/files/papers/science-of-learning-2015.pdf">Pre-Workshop Reading: The Science of Learning</a> </td>
    </tr>
</table>

</div>
