<div class="syllabus">
    <h2 id="schedule">Schedule</h2>

<table class="table table-striped">
    <tr>
        <th>Week</th>
        <th>Readings</th>
        <th>Pages</th>
        <th>Curriculum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Forward, About the Authors, Introduction, Chapter 1</td>
        <td>xiii-xvi, xix-9; 10-39</td>
        <td>Add links here</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Forward, About the Authors, Introduction, Chapter 1</td>
        <td>xiii-xvi, xix-9; 10-39</td>
        <td>Add links here</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Forward, About the Authors, Introduction, Chapter 1</td>
        <td>xiii-xvi, xix-9; 10-39</td>
        <td>Add links here</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Forward, About the Authors, Introduction, Chapter 1</td>
        <td>xiii-xvi, xix-9; 10-39</td>
        <td>Add links here</td>
    </tr>

</table>

</div>