<div class="syllabus">
    <h2 id="schedule">Schedule</h2>

<table class="table table-striped">
    <tr>
        <th>Week</th>
        <th>Readings</th>
        <th>Pages</th>
        <th>Curriculum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Foreword, About the Authors, Introduction, Chapter 1</td>
        <td>40-65; 225-230</td>
        <td> <a href="https://carpentries.github.io/instructor-training/setup.html">Setup</a>, <a href="https://carpentries.github.io/instructor-training/01-welcome/">Welcome</a>, <a href="https://carpentries.github.io/instructor-training/02-practice-learning/">How Learning Works: The Importance of Practice</a>
</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Chapter 2, Appendix A, Appendix  B</td>
        <td>xiii-xvi, xix-9; 10-39</td>
        <td><a href="https://carpentries.github.io/instructor-training/03-expertise/">How Learning Works: Expertise and Instruction</a>, <a href="https://carpentries.github.io/instructor-training/05-memory/">How Learning Works: Working Memory and Cognitive Load</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Chapter 3</td>
        <td>66-90</td>
        <td><a href="https://carpentries.github.io/instructor-training/06-feedback/">Building Teaching Skill: Getting Feedback</a>, <a href="https://carpentries.github.io/instructor-training/08-motivation/">Creating a Positive Learning Environment: Motivation and Demotivation</a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Chapter 4, Appendix D</td>
        <td>91-120, 244-7</td>
        <td><a href="https://carpentries.github.io/instructor-training/09-mindset/">Creating a Positive Learning Environment: Mindset</a>, <a href="https://carpentries.github.io/instructor-training/11-practice-teaching/">Building Teaching Skill: The Importance of Practice</a>, <a href="https://carpentries.github.io/instructor-training/12-homework/">Wrap-Up and Homework</a></td>
    </tr>

</table>

</div>
